@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #fff5f5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: "#f0f0f0";
  color: "#333";
  border: "2px solid #007bff";
  padding: "10px";
  border-radius: "4px";

}

form {
  background-color: "#ffffff";

}